{% extends 'douban/base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'douban/css/index.css' %}">
{% endblock %}
{% block body %}
{% load custom_filters %}
<div class="container">
    <div class="row">
        <div class="header-nav" style="margin-top: 20px;">
            <ol class="breadcrumb">
                <li><span class="playing">正在热映</span></li>
                <li><span class="all-playing">{{movie.name | split_space}}</span></li>
                <li><span class="will-play active">短评({{num}})</span></li>
            </ol>
        </div>
        <div class="form-search">
            <div class="search-form">
                <form action="{% url 'comment' movie_id %}" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="keyword" id="name" value="{{keyword}}" class="form-control" placeholder="关键词">
                    </div>
                    <div class="form-group">
                        <select name="sort" id="">
                            {% if sort == 1 %}
                            <option value="0">全部展示</option>
                            <option value="1" selected>大于3星</option>
                            {%  endif %}
                            {% if sort == 0 %}
                            <option value="0" selected>全部展示</option>
                            <option value="1">大于3星</option>
                            {% endif %}
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    
                </form>
                
            </div>
        </div>
        <div class="comment-list">
            {% for comment in list %}
            <div class="media">
                <div class="media-left">
                    <img src="{{comment.avatar}}" alt="">
                </div>
                <div class="media-body">
                    <h4 class="media-heading account">{{comment.comment_info}}<span class="stars star-{{comment.star}}"></span></h4>
                    <p class="content">{{comment.content}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}